<div class="recipe-card recipe">
  {% if recipe.cover %}
  <a href="{% url 'recipes:recipe' recipe.id%}">
    <img class="recipe-img" src="{{ recipe.cover.url }}" alt="Temporário">
  </a>
  {% endif %}
  <div class="recipe-title-wrapper">
    <a href="{% url 'recipes:recipe' recipe.id%}">
      <h2 class="recipe-title">{{ recipe.title }}</h2>
    </a>
    <h2 style="color: lightblue;">{{ recipe.id }}</h2>
  </div>
  <div class="recipe-metadata-wrapper">
    {% if recipe.author is not None %}
      <span class="recipe-metadata">
        <i class="fas fa-user"></i>
        {% if recipe.author.first_name %}
          {{ recipe.author.first_name }} {{ recipe.author.last_name }}
        {% else %}
          {{ recipe.author.username }}
        {% endif %}
      </span>
    {% endif %}
    <span class="recipe-metadata">
      <i class="fas fa-calendar-alt"></i>
      {{ recipe.created_at|date:"d/m/Y" }} às {{ recipe.created_at|date:"H:i" }}
    </span>
    {% if recipe.category is not None %}
      <span class="recipe-metadata">
        <a href="{% url 'recipes:category' recipe.category.id %}">
          <i class="fas fa-layer-group"></i>
          <span>{{ recipe.category.name }}</span>
        </a>
      </span>
    {% endif %}
  </div>
  <div class="recipe-content">
    {{ recipe.description }}
  </div>
  <div class="recipe-info-outer">
    <div class="recipe-info-inner">
      <h3 class="recipe-info-title"><i class="fas fa-stopwatch"></i>Preparo</h3>
      <div class="recipe-info-text">
        {{ recipe.preparation_time }} {{ recipe.preparation_unit }}
      </div>
    </div>
    <div class="recipe-info-inner">
      <h3 class="recipe-info-title"><i class="fas fa-pizza-slice"></i>Porções</h3>
      <div class="recipe-info-text">
        {{ recipe.servings }} {{ recipe.servings_unit }}
      </div>
    </div>
  </div>
  {% if is_detail_page is not True %}
    <footer class="recipe-footer">
      <a class="recipe-read-more button button-dark button-full-width" href="{% url 'recipes:recipe' recipe.id %}">
        <i class="fas fa-eye"></i>
        <span>ver mais...</span>
      </a>
    </footer>
  {% endif %}

  {% if is_detail_page is True %}
    <div class="recipe-preparation">
      {{ recipe.preparation_steps|linebreaksbr }}
    </div>
  {% endif %}
</div>