:root {
  --color-primary: #269fe6;
  --color-primary-hover: #2086c2;
  --color-primary-dark: #13141f;
  --color-primary-dark-hover: #212336;
  --color-primary-light: #d4ecfa;
  --color-primary-light-hover: #bdd8e7;
  --color-white: #fff;
  --color-black: #000;
  --color-dark-text: #444;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;
  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;
  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;
  --font-primary: sans-serif;
  --font-headings: "Roboto Slab", serif;
  --spacing-gutter-small: 1.5rem;
  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-gray-1);
  font-size: 1.6rem;
  font-family: var(--font-primary);
  color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: var(--spacing-gutter-medium);
}

.header-outer {
  background-color: var(--color-primary-dark);
}

.logo-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 4rem;
  color: var(--color-white);
  width: fit-content;
  margin: 0 auto;
}

.search-form {
  position: relative;
  max-width: 64rem;
  margin: 0 auto;
  border: 0.2rem solid var(--color-primary-dark);
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 10px 10px 20px -3px rgba(0, 0, 0, 0.15);
}

.search-form:focus-within {
  border-color: var(--color-primary);
  background-color: var(--color-white);
  box-shadow: 15px 15px 20px -3px rgba(0, 0, 0, 0.2);

  & .search-button {
    color: var(--color-primary);
  }
}

.search-input,
.search-button {
  border: none;
  background: none;
  outline: none;
  padding: 1rem;
}

.search-input {
  width: 100%;
  padding-right: 3rem;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
}

/* Recipes */
.container-recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  gap: var(--spacing-gutter-large);
  width: 90%;
  padding-top: 0;
}

.container-recipes-detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.recipe {
  background: var(--color-white);
  box-shadow: -10px 10px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}

.container-recipes-grid .recipe-card {
  display: flex;
  flex-flow: column nowrap;
  transition: all 0.3s ease-in-out;
  max-width: 64rem;

  &:hover {
    transform: scale(1.03);
    box-shadow: -10px 10px 20px -3px rgba(0, 0, 0, 0.4);
  }
}

.container-recipes-detail .recipe-card {
  max-width: 85rem;
}

.recipe-title-wrapper {
  padding: var(--spacing-gutter-medium);
  padding-bottom: 0.9rem;
}

.recipe-metadata-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 0 var(--spacing-gutter-medium);
}

.recipe-info-title > i {
  margin-right: 1rem;
}

.recipe-metadata {
  color: var(--color-gray-4);

  & a {
    color: var(--color-primary);
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--color-primary-dark);
    }
  }
}

.recipe-content {
  flex-grow: 1;
  padding: var(--spacing-gutter-small) var(--spacing-gutter-medium);
  font-weight: 600;
}

.recipe-preparation {
  padding: var(--spacing-gutter-small) var(--spacing-gutter-medium);
  line-height: 1.5;
}

.recipe-info-outer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: var(--spacing-gutter-medium);
  padding-top: var(--spacing-gutter-small);
  background: var(--color-gray-1);
}

.recipe-info-inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  row-gap: 1rem;
}

.recipe-info-title {
  font-size: 1.6rem;
}

.recipe-footer a {
  display: block;
  text-align: center;
  width: 100%;
  padding: var(--spacing-gutter-small) var(--spacing-gutter-medium);
  background: var(--color-primary-dark);
  color: var(--color-white);
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(2);
  }
}

.main-footer {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: var(--spacing-gutter-medium) var(--spacing-gutter-large);
  font-size: 2rem;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.main-footer a {
  transition: all 0.3s ease-in-out;

  &:hover {
    filter: brightness(0.7);
  }
}
