{% include 'recipes/partials/head.html' %}

<body>
  {% include 'recipes/partials/header.html' %}
  {% include 'recipes/partials/searchbar.html' %}
  <main>
    <div class="container-recipes-outer container">
      <div class="container-recipes-inner">
        <div class="recipes-item recipes-item-list">
          <p>Olá</p>
        </div>
        <div class="recipes-item recipes-item-list">
          <p>Olá</p>
        </div>
        <div class="recipes-item recipes-item-list">
          <p>Olá</p>
        </div>
        <div class="recipes-item recipes-item-list">
          <p>Olá</p>
        </div>
        <div class="recipes-item recipes-item-list">
          <p>Olá</p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>